<h1>渠道</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>金额（元）</th>
      <th>占比</th>
      <th>风险（元）</th>
      <th>总收益（元）</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @channels.each do |channel| %>
      <tr>
        <td><%= channel.name %></td>
        <td><%= channel.total_yuan %></td>
        <td><%= div_to_percent(channel.total_cent,@total_cent) %></td>
        <td>
          <font color='green'>低风险：</font><%= cent_to_yuan(channel.lower_risk_money) %>元（<%= div_to_percent(channel.lower_risk_money,channel.total_cent) %>）
          <font color='orange'>中等风险：</font><%= cent_to_yuan(channel.medium_risk_money) %>元（<%= div_to_percent(channel.medium_risk_money,channel.total_cent) %>）
          <font color='red'>高风险：</font><%= cent_to_yuan(channel.high_risk_money) %>元（<%= div_to_percent(channel.high_risk_money,channel.total_cent) %>）
          <font color='gray'>其他：</font><%= cent_to_yuan(channel.other_money) %>元（<%= div_to_percent(channel.other_money,channel.total_cent) %>）
        </td>
        <td><%= channel.earnings_yuan %></td>
        <td><%= link_to 'Show', channel %></td>
        <td><%= link_to 'Edit', edit_channel_path(channel) %></td>
        <td><%= link_to 'Destroy', channel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				<td><%= link_to('收支',{:controller => 'expenses', :action => 'index', :channel_id => channel.id }) %></td>
        <td><%= link_to('投资',{:controller => 'financings', :action => 'index', :channel_id => channel.id }) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
合计：<%= @total_yuan %>元
<font color='green'>低风险：</font><%= cent_to_yuan(@total_lower_risk) %>元（<%= format_to_percent(Float(@total_lower_risk)/@total_cent) %>）
<font color='orange'>中等风险：</font><%= cent_to_yuan(@total_medium_risk) %>元（<%= format_to_percent(Float(@total_medium_risk)/@total_cent) %>）
<font color='red'>高风险：</font><%= cent_to_yuan(@total_high_risk) %>元（<%= format_to_percent(Float(@total_high_risk)/@total_cent) %>）
<font color='gray'>其他：</font><%= cent_to_yuan(@other) %>元（<%= div_to_percent(@other,@total_cent) %>）
<br>

<%= link_to 'New Channel', new_channel_path %>
