<h1>渠道</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>金额（元）</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @channels.each do |channel| %>
      <tr>
        <td><%= channel.name %></td>
        <td><%= channel.total_yuan %></td>
        <td><%= link_to 'Show', channel %></td>
        <td><%= link_to 'Edit', edit_channel_path(channel) %></td>
        <td><%= link_to 'Destroy', channel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				<td><%= link_to('收支',{:controller => 'expenses', :action => 'index', :channel_id => channel.id }) %></td>
        <td><%= link_to('投资',{:controller => 'financings', :action => 'index', :channel_id => channel.id }) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
合计：<%= @total_yuan %>元
<br>

<%= link_to 'New Channel', new_channel_path %>
