<h1>Listing orientations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orientations.each do |orientation| %>
      <tr>
        <td><%= orientation.name %></td>
        <td><%= link_to 'Show', orientation %></td>
        <td><%= link_to 'Edit', edit_orientation_path(orientation) %></td>
        <td><%= link_to 'Destroy', orientation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Orientation', new_orientation_path %>
