<h1><%= @channel.name %></h1>

<p>
  进度：
  <input type="radio" name="status" value="" />全部
  <input type="radio" name="status" value="started"/>进行中
  <input type="radio" name="status" value="finished" />已完成
</p>
<script type="text/javascript">
  $(document).ready(
  	function(){
  		$("input:radio[value='<%=@status%>']").attr('checked','true');
      $("input:radio[name='status']").each(function(){
        $(this).bind('change',function(event){
        	selectStatus();
        });
      })
      selectStatus();
  	}
  );
  function selectStatus() {
    var current = $("input[name='status']:checked").val();
    $("td[name='td_status']").each(function(){
      var value = $(this).data('status');
      if(current == ''){
        $(this).parent().show();
      }else if(value == current){
        $(this).parent().show();
      }else{
        $(this).parent().hide();
      }
    });
  }
</script>

<table>
  <thead>
    <tr>
      <th>名称</th>
      <th>流动性</th>
      <th>金额(元)</th>
      <th>付款时间</th>
      <th>到期时间(期望/实际)</th>
      <th>收入(期望/实际)元</th>
      <th>利率(期望/实际)</th>
      <th>风险</th>
      <th>方向</th>
      <th>状态</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @financings.each do |financing| %>
      <tr>
        <td><%= financing.name %></td>
        <td>
            <% if financing.current? %>
              活期
            <% else %>
              定期
            <% end %>
        </td>
        <td><%= financing.money_yuan %></td>
        <td><%= financing.paid_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
        <td>
          <% if financing.exp_antedated and financing.exp_antedated<=Time.now %>
            <font color='red'><%= financing.exp_antedated %></font>
          <% else %>
            <%= financing.exp_antedated %>
          <% end %>
          / <%= financing.act_antedated %>
        </td>
        <td><%= financing.exp_earning_yuan %> / <%= financing.act_earning_yuan %></td>
        <td><%= financing.exp_rate_percent %>% / <%= financing.act_rate_percent %>%</td>
        <td>
          <% if financing.lower_risk? %>
            <font color='green'>低风险</font>
          <% elsif financing.medium_risk? %>
            <font color='orange'>中等风险</font>
          <% elsif financing.high_risk? %>
            <font color='red'>高风险</font>
          <% else %>
            <%= financing.risk %>
          <% end %>
        </td>
        <td><%= financing.orientation&.name %></td>
        <td name='td_status' data-status='<%=financing.status%>'>
          <% if financing.finished? %>
            <font color='green'>已完成</font>
          <% else %>
            <%= financing.status %>
          <% end %>
        </td>
        <td>
          <% if financing.started? %>
            <%= link_to('完成', {:controller => 'financings', :action => 'finish_view', :id => financing.id}) %>
            <%= link_to('追加', {:controller => 'financing_items', :action => 'index', :financing_id => financing.id}) %>
          <% end %>
          <% if financing.finished? %>
            <%= link_to('流水', {:controller => 'financing_items', :action => 'index', :financing_id => financing.id}) %>
          <% end %>
          <%= link_to 'Show', financing %>
          <%= link_to 'Edit', edit_financing_path(financing) %>
          <%= link_to 'Destroy', financing, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
合计：<%= @channel.total_yuan %>元
<font color='green'>低风险：</font><%= @lower_risk_money/100.0 %>元（<%= div_to_percent(@lower_risk_money,@channel.total_cent) %>）
<font color='orange'>中等风险：</font><%= @medium_risk_money/100.0 %>元（<%= div_to_percent(@medium_risk_money,@channel.total_cent) %>）
<font color='red'>高风险：</font><%= @high_risk_money/100.0 %>元（<%= div_to_percent(@high_risk_money,@channel.total_cent) %>）
<font color='gray'>其他：</font><%= cent_to_yuan(@channel.other_money) %>元（<%= div_to_percent(@channel.other_money,@channel.total_cent) %>）
<br>

<%= link_to('新增投资',{:controller=> 'financings', :action => 'new', :channel_id => @channel.id}) %>
<%= link_to '返回', channels_path %>
