<h1><%= @channel.name %> 收支记录</h1>

<table>
  <thead>
    <tr>
      <th>收支</th>
      <th>金额</th>
      <th>时间</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
				<td>
					<% if expense.incoming? %>
						<font color='green'>充值</font>
					<% else %>
						<font color='red'>提现</font>
					<% end %>
				</td>
				<td>
					<% if expense.incoming? %>
						<font color='green'>+<%= expense.yuan %></font>
					<% else %>
						<font color='red'><%= expense.yuan %></font>
					<% end %>
				</td>
        <td><%= expense.happened_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
        <td><%= link_to 'Show', expense %></td>
        <!--
        <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
				<td><%= link_to 'Destroy', expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        -->
      </tr>
    <% end %>
  </tbody>
</table>
<br>
合计：<%= cent_to_yuan(@channel.total_cent) %> 元
<br>

<%= link_to('新增收支',{:controller => 'expenses', :action => 'new', :channel_id => @channel.id}) %>
<%= link_to '返回', channels_path %>
